name: Test Workflow

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2.2

    - name: Install Dependencies
      run: bundle install

    - name: Run Tests
      run: |
        rake spec
        rake cucumber
        
    - uses: actions/checkout@v1

    - name: Use Node.js 16.x
      uses: actions/setup-node@v3
      with:
        node-version: 16.x

    - name: Coveralls
      uses: coverallsapp/github-action@v2
      with:
          github-token: ${{ secrets.COVERALLS_REPO_TOKEN }}
